@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,700&display=swap");
.navbar {
  background-color: #b7958e;
  padding: 2rem; }
  .navbar .logo {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0;
    padding: 0; }
  .navbar .navbar-toggler {
    color: black;
    box-shadow: 0 0 5px black; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      color: black; }
  .navbar .nav-link {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
    .navbar .nav-link:hover {
      color: black;
      transform: scale(1.1);
      transition: all 0.5s ease;
      text-decoration: underline; }

.banner {
  background-image: url(../media/background-principal.jpg);
  background-size: cover;
  background-position: center;
  height: 38rem;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .banner h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
  .banner .btn-reservas {
    background-color: #e9ccc6;
    border-radius: 0.3125rem;
    font-family: 'Roboto', sans-serif; }
    .banner .btn-reservas .link-reservas {
      text-decoration: none;
      color: black; }
      .banner .btn-reservas .link-reservas:hover {
        text-decoration: none;
        color: black; }

.title-recom {
  display: flex;
  color: black;
  background-color: #b7958e;
  height: 6.25rem;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .title-recom h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: underline; }
  .title-recom p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }

.container-fluid {
  background-color: #b7958e; }
  .container-fluid .col-lg-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; }

.history {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; }

.item {
  height: 18.75rem;
  border: black solid; }

.item1 {
  background-image: url(../media/quienes-somos-1.jpg);
  background-position: center;
  background-size: cover; }

.item2 {
  background-image: url(../media/quienes-somos-2.jpg);
  background-position: center;
  background-size: cover; }

.item3 {
  background-image: url(../media/quienes-somos-3.jpg);
  background-position: center;
  background-size: cover; }

.item4 {
  background-image: url(../media/quienes-somos-4.jpg);
  background-position: center;
  background-size: cover; }

.item5 {
  background-image: url(../media/quienes-somos-5.jpg);
  background-position: center;
  background-size: cover; }

.item6 {
  background-image: url(../media/quienes-somos-6.jpg);
  background-position: center;
  background-size: cover; }

.title-menu {
  display: flex;
  text-decoration: underline;
  text-align: center;
  justify-content: center;
  align-items: center; }

.menu {
  display: flex;
  flex-direction: column; }

h3 {
  text-align: center; }

ul {
  justify-content: center;
  align-items: center; }
  ul li {
    font-family: 'Roboto', sans-serif; }

.div-form {
  margin: 1.875rem 1.25rem; }

.form-title {
  text-align: center;
  color: black;
  font-size: 1.5625rem;
  word-spacing: 0.3125rem;
  margin: 1.25rem 0; }

.bg-form {
  background-color: #7e335c;
  border: 0.0625rem solid black;
  border-radius: 0.625rem;
  margin: 0 30%; }
  .bg-form .form-celda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bg-form .form-celda label {
      font-family: 'Roboto', sans-serif;
      font-size: large;
      font-weight: 500;
      color: black;
      text-shadow: 0 0 5px white;
      text-align: center; }
    .bg-form .form-celda .input-form {
      width: 90%;
      height: 2.1875rem;
      margin: 15px 0;
      color: black;
      text-align: center;
      justify-content: center;
      background-color: #e9ccc6; }
    .bg-form .form-celda .textarea {
      background-color: #e9ccc6; }
    .bg-form .form-celda .button-form {
      width: 10rem;
      margin: 0.5rem 0 1rem 1rem;
      border: 1px solid #391523;
      color: black;
      box-shadow: 0 0.125rem 0 #090809;
      border-radius: 0.1875rem;
      background-color: #b7958e;
      justify-content: center;
      align-items: center; }
      .bg-form .form-celda .button-form:hover {
        transform: scale(1.1);
        transition: all is ease; }

.contact1 {
  padding: 2.5rem;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .contact1 .iframe {
    width: 100%; }

.reservas-ct {
  padding: 50px 10px;
  max-width: 80.8rem;
  margin: 0 auto; }

.footer-pr {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: black;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  padding: 1.875rem; }
  .footer-pr .ftr-copy {
    color: #b7958e; }
  .footer-pr .redes {
    padding: 1.25rem;
    font-size: 1.80rem;
    padding: 0; }
  .footer-pr a {
    text-decoration: none; }
  .footer-pr .fa-facebook-f, .footer-pr .fa-instagram, .footer-pr .fa-twitter {
    border-radius: 0.3125rem;
    color: #b7958e;
    padding: 0.625rem; }
    .footer-pr .fa-facebook-f:hover, .footer-pr .fa-instagram:hover, .footer-pr .fa-twitter:hover {
      background-color: white;
      transition: all 1s;
      transform: scale(1.5); }

@media (max-width: 424px) {
  .iframe-contact {
    width: 60vh;
    margin: 0.625rem;
    padding: 0.625rem; }
  .bg-form {
    max-width: 18rem;
    margin: 0; } }

@media (max-width: 768px) {
  .bg-form {
    max-width: 32.75rem;
    margin: 0 auto; } }
