.footer-pr {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: $textcolor;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    padding: 1.875rem;

    .ftr-copy {
        color: $colorprincipal;

    }

    .redes {
        padding: 1.25rem;
        font-size: 1.80rem;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    .fa-facebook-f {
        border-radius: 0.3125rem;
        color: $colorprincipal;
        padding: 0.625rem;
       

        &:hover {
            background-color: white;
            transition: all 1s;
            transform: scale(1.5);
        }

    }

    .fa-instagram {
        @extend .fa-facebook-f
    }

    .fa-twitter {
        @extend .fa-facebook-f
    }
}