.div-form {
    margin: 1.875rem 1.25rem;
}

.form-title {
    text-align: center;
    color: $textcolor;
    font-size: 1.5625rem;
    word-spacing: 0.3125rem;
    margin: 1.25rem 0;
}

.bg-form {
    background-color: $colorforms;
    border: 0.0625rem solid $textcolor;
    border-radius: 0.625rem;
    margin: 0 30%;

    .form-celda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label{
            font-family: 'Roboto', sans-serif;
            font-size: large;
            font-weight: 500;
            color: black;
            text-shadow: 0 0 5px white;
            text-align: center;
    
        }

        .input-form {
            width: 90%;
            height: 2.1875rem;
            margin: 15px 0;
            color: $textcolor;
            text-align: center;
            justify-content: center;
            background-color: $colorsecundario;
    
        }

        .textarea {
            background-color: $colorsecundario;
        }
    
        .button-form {
            width: 10rem;
            margin: 0.5rem 0 1rem 1rem;
            border: 1px solid rgb(57, 21, 35);
            color: rgb(0, 0, 0);
            box-shadow: 0 0.125rem 0 rgb(9, 8, 9);
            border-radius: 0.1875rem;
            background-color: $colorprincipal;
            justify-content: center;
            align-items: center;
    
            &:hover {
                transform: scale(1.1);
                transition: all is ease;
            }
        }

    }


}