.div-form {
    margin: 1.875rem 1.25rem;
}

.bg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorforms;
    width: 35rem;
    border: 0.0625rem solid $textcolor;
    border-radius: 0.625rem;

    .form-title {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.5625rem;
        word-spacing: 0.3125rem;
        margin: 1.25rem 0;
    }

    .input-form {
        width: 18.125rem;
        height: 2.1875rem;
        margin: 0.625rem 1.875rem;
        padding: 0 0.625rem;
        color: $textcolor;
        text-align: center;
        background-color: $colorsecundario;

    }

    .textarea {
        background-color: $colorsecundario;
    }

    .button-form {
        width: 10rem;
        margin: 0.5rem 0 1rem 1rem;
        border: 1px solid rgb(57, 21, 35);
        color: rgb(0, 0, 0);
        box-shadow: 0 0.125rem 0 rgb(9, 8, 9);
        border-radius: 0.1875rem;
        background-color: $colorprincipal;

        &:hover {
            transform: scale(1.1);
            transition: all is ease;
        }
    }


}