@media (max-width: 424px) {
   
    .iframe-contact {
        width: 60vh;
        margin: 0.625rem;
        padding: 0.625rem;
    }

    .bg-form {
        max-width: 18rem;
        margin: 0;

    }
}

@media (max-width: 768px){
    .bg-form{
        max-width: 32.75rem;
        margin: 0 auto;


    }
}